@media (min-width: 1028px) {


    /* Show header items in desktop mode only */
    .header__nav, .header__desktop-right {
        display: unset;
    }

    .header__hamburger {
        display: none;
    }

    .header {
        display: flex;
        align-items: center;
        padding-left: 100px;
        padding-right: 100px;
    }

    /* header__list */
    .header :nth-child(2) {
        flex: 1;
        text-align: center;
    }

    /* Nav links formatting */
    .header__list {
        display: inline;
        padding-inline-start: 0;
        color: grey;
    }

    .header__list > li {
        display: inline;
        margin: 0 10px;
    }
    
    .header__list a {
        text-decoration: none;
        color: inherit;
    }

    main {
        flex-direction: row;
        max-width: 1200px;
        margin: auto;
        gap: 20px;
        flex-wrap: nowrap;
    }

    .feed {
        order: 2;
        flex: 1;
    }

    .milestones {
        order: 1;
        width: unset;
        transform: none;
        width: 20%;
    }

    .trending {
        display: flex;
        flex-direction: column;
        order: 3;
        width: 20%;
    }

    .trending__posts {
        order: 2;
        transform: none;
        width: unset;
        position: unset;
    }

    .trending__video {
        transform: none;
    }
}