@media (min-width: 1028px) {
    .header__nav {
        display: inline-block;
    }
    .header__nav ul {
        display: inherit;
        padding-inline-start: 0;
    }
    .header__list > li {
        list-style: none;
        display: inline;
        margin: 0 10px;
    }
    
    .header__list a {
        text-decoration: none;
        color: inherit;
    }

    .header__desktop-right {
        display: inline;
        float: right;
    }

    .header__desktop-right img {
        cursor: pointer;
    }

    .header__hamburger {
        display: none;
    }
}