.header__nav {
    color: grey;
    display: none;
}

.header__logo, .header__hamburger {
    display: inline;
}

.header__desktop-right {
    display: none;
}

.header__hamburger {
    float: right;
}

