/* Reset user agent */
body {
    margin: 0;
    background-color: #F4F5F7;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

/* Hide header items in mobile/tablet only */
.header__desktop-right, .header__nav {
    display: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.feed__post > img {
    width: 100%;
    margin: 10px 0;
}

.milestones {
    transform: translateY(100%);
}

.trending__posts {
    transform: translateY(-100%);
}

.trending__video {
    background-color: black;
    max-height: 200px;
    width: 100%;
}

.feed > * {
    padding: 20px;
    background-color: white;
    margin: 20px 0;
}

.feed__share {
    display: flex;
    position: relative;
    gap: 10px;
}

.feed__share > input {
    flex: 1;
    padding: 10px 20px;
    border-radius: 5px;
    border: solid grey 1px;
}

.feed__share > :last-child:is(img) {
    position: absolute;
    padding: inherit;
    right: 10px;
    /* Center vertically */
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.feed__post-header {
    display: flex;
    gap: 10px;
}

/* feed__post-meta */
.feed__post-header :nth-child(2) {
    flex: 1;
}

.feed__post-meta :last-child {
    color: grey;
}

/* Generic button */
.social-button {
    background-color: white;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 10px;
}

.milestones, .trending__posts {
    background-color: white;
}

.milestones__post {
    display: flex;
    gap: 10px;
}

.trending {
    padding: 20px 0;
}

.trending__post :first-child {
    font-weight: bold;
}

.trending__post :last-child {
    color: grey;
}